<h1>Person View Index</h1>
<form asp-action="Index">
<table class="table table-all">
    <tr>

    <th>
    <label>Nhập họ và tên:</label>
    <input type="text" name="Name"/>
    </th>

    <th>
    <label>Nhập tuổi:</label>
    <input type="number" name="Age"/>
    </th>

    <th>
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address"/>
    <input type="submit" value="Gửi">
    </th>
    
    </tr>


</table>
    </form>


<h2>@ViewBag.tbao</h2>