<h1>Tinh luong co ban cua nhan vien</h1>

<form asp-action="Index">
    <label>Nhap luong co ban:</label>
    <input type="text" name="Luong"/>
    <label>Nhap he so:</label>
    <input type="text" name="Heso"/>
    <label>Nhap phu cap:</label>
    <input type="text" name="PCap"/>

    <input type="submit" value="Tinh luong">
</form>

<h3>@ViewBag.tinhluong</h3>