<h1>Giải PT bậc 2</h1>

<form asp-action="Index">
    <label>Nhập hệ số A:</label>
    <input type="text" name="hsoA"/>
    <label>Nhập hệ số B:</label>
    <input type="text" name="hsoB"/>
    <label>Nhập hệ số C:</label>
    <input type="text" name="hsoC"/>

    <input type="submit" value="Giải">
</form>

<h3>@ViewBag.thongbao</h3>